body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #014a97, #013569);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-top: 40px;
}

.main-card {
  width: 80%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.search-bar input {
  width: 70%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 25px;
  background: #ffcc00;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.weather-section h1 {
  font-size: 38px;
}

.temp {
  font-size: 55px;
  font-weight: bold;
}

hr {
  margin: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.forecast-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.forecast-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.forecast-box {
  background: rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 130px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.forecast-box:hover {
  background: rgba(255, 255, 255, 0.3);
}

.day {
  font-weight: 700;
  font-size: 18px;
}

.temp-small {
  font-size: 22px;
  font-weight: bold;
}

.desc {
  font-size: 14px;
}
